<div class="container-big-card">
  <div class="big-card-picture">
    <img
      src="https://c.wallhere.com/images/ab/44/fefdb69c3502aa5404524d899486-1889615.jpg!d"
      alt=""
      height="200px"
    />
  </div>

  <div class="big-card-title">
    <h1><a href=""> Saiu a nova versão do angular </a></h1>
  </div>
  <div class="big-card-description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        dolore inventore suscipit incidunt iste, soluta error nam ullam officiis
        rerum ab reprehenderit id doloribus, est, autem dolorum culpa ipsam
        nobis.
      </a>
    </p>
  </div>
</div>
