.container-small-card-content {
  display: flex;
  flex-direction: row;

  margin-bottom: 8px;

  width: 700px;
  gap: 20px;
}

.small-card-picture>img {
  width: 100px;
  min-width: 200px;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-small-card-separator {
  margin-bottom: 12px;
}
